body {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    max-width: 790px;
    margin: 5% auto;
    font-family: "Times New Roman";
    color: #0088ff;
    text-align: left;
    position: relative;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

hr {
    height: 5px;
    color: #ff0000;
    background-color: #ff0000;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

figure img {
    width: 80%;
    display: block;
    margin: auto;
}

figure {
    text-align: center;
    margin: auto;
    width: 80%;
}

figcaption::first-letter {
    color: #ff0000;
    font-weight: bold;
    font-size: 150%;
}

main > div.flex-container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}

main > div.flex-container > .flex-item {
    flex: 0 0 calc(50% - 40px);
    margin: 20px;
    max-width: calc(50% - 40px); 
    text-align: center; 
    border: 3px #0088ff;
}

p a {
    display: block;
    text-align: center;
}

footer {
    display: block;
    background-color: #ff0000;
    text-align: center;
    bottom: 0;
    height: 120px;
    width: 100%;
    padding-top: 30px;
    font-family: "Times New Roman";
    color: #0088ff;
}

footer a {
    color: #0088ff;
}





