main {
    margin: 5% auto;
    font-family: "Times New Roman";
    color: #0088ff;
    text-align: center; /* Center the content within main */
    width: 790px; /* Set fixed width */
}

h2 {
    text-align: center;
}

hr {
    height: 5px;
    color: #ff0000;
    background-color: #ff0000;
}

/* Grid layout for the history section */
#Computer_History ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    text-align: left; /* Align text in the grid to the left */
}

article {
    display: block;
    margin: auto;
    text-align: center; /* Center article content */
}

footer {
    display: block;
    background-color: #ff0000;
    text-align: center;
    bottom: 0;
    height: 120px;
    width: 100%;
    padding-top: 30px;
    font-family: "Times New Roman";
    color: #0088ff;
}

footer a {
    color: #0088ff;
}
