nav {
    text-align: center;
    width: 790px; /* Set fixed width */
    margin: 0 auto; /* Center the element */
}

nav ul {
    display: block;
    list-style-type: none;
    overflow: hidden;
    background-color: #ff0000;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav .logo {
    float: left;
}

nav .nav-links {
    float: right;
}

nav .nav-links li {
    display: block; /* Change to block to stack vertically */
}

nav img {
    width: 125px;
    padding: 10px;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: #0088ff;
    font-family: "Times New Roman";
    font-weight: bold;
    padding: 14px 40px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #0088ff;
    color: #ff0000;
}


